<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="template.css">
</head>

<body>




	<section class="deal">
		<img class="medium" src="./images/motherboard.jpg" alt="product" />
		<div class="deal-details">
			<h2>Best Deal Right Now!</h2>
			<h3>ABS Challenger RTX 3080 Super Gaming PC</h3>
			<P>Previous Price:127000৳</P>
			<P>Current Price:107332৳</P>
			<button type="button" class="btn btn-danger"><a class=" " href='./form.html' alt='Broken Link'>Make
					Order</a></button>
		</div>
	</section>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>